.MainContainer {
    width: 70vw;
    height: 70vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.MainContainer-columns {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.MainContainer-repos-and-prs {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}